<div class="container py-300 px-250 br bg-white h-100 w-100">
    <div class="header w-100">
        <div class="inner-header">
            <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none" >
                <circle cx="8" cy="8.5" r="8" [attr.fill]="colorTheme"/>
                </svg>  
            <p class="ml-200 text-preset-2">{{title}}</p>
        </div>
        
       <app-icon-dropdown [items]="['Edit Budget', 'Delete Budget']"></app-icon-dropdown>
    </div>
    <div class="description w-100">
        <p class="text-preset-4">Maximum of ${{maximum | money}}</p>
        <div class="w-100 progress-container p-50 h-100 position-relative">
            <div class="position-absolute progress" [ngStyle]="{'width': amountPercentage + '%', 'background': colorTheme}">
                <!-- Calculate width -->
            </div>
        </div>
        <div class="space-between">
            <app-mini-card [color]="colorTheme" [title]="'Spent'" [amount]="spentAmount | money"></app-mini-card>
            <app-mini-card [color]="'#F8F4F0'" [title]="'Free'" [amount]="freeAmount | money"></app-mini-card>
        </div>
    </div>
    <div class="spending br p-200 w-100 text-align-center">
        <div class="inner-header w-100">
            <p class="text-preset-3">Latest Spending</p>
            <app-tertiary [transparent]="true">See All</app-tertiary>
        </div>
        <div class="no-text-wrap w-100">
            <div *ngFor="let transaction of transactions">
            <app-transaction [amount]="transaction.amount" [hasPhoto]="isMobile() ? false : true" [date]="transaction.date" [person]="transaction.person" [isCredit]="false"></app-transaction>
            <hr>
            </div>
           
        </div>
    </div>
</div>