<div *ngIf="!budget" class="inner-card-flex w-fit-content no-text-wrap">
    <div class="bar" [ngStyle]="{'background-color': color}"></div>
    <div class="inner-card ml-200">
        <p class="card-title-color text-preset-5">{{title}}</p>
        <p class="card-number-color text-preset-4-bold">${{amount | money}}</p>
    </div>
</div>
<div *ngIf="budget" class="inner-card-flex-between w-100">
    <div class="inner-card-flex w-100 no-text-wrap">
        <div class="bar" [ngStyle]="{'background-color': color}"></div>
        <div class="inner-card ml-200">
            <p class="card-title-color text-preset-5">{{title}}</p>
        </div>
    </div>
    <p class="card-number-color text-align-end no-text-wrap text-preset-4-bold">${{amount | money}} <span class="text-preset-5 card-budget-color">of ${{budget | money}}</span></p>
</div>
