<div class="container" [ngClass]="{'brightness mx-0 my-0 px-200 py-300': modalOn(), 'mx-200 my-300 px-0 py-0': !modalOn()}">
    <div class="flex w-100 ">
        <p class="text-preset-1">Budgets</p>
        <app-button (click)="navigateToNew()">+ Add New Budget</app-button>
    </div>
 <div class="w-100" [ngClass]="{'inner-container': isDesktop(), 'container': !isDesktop()}">
    <app-spending-summary class="w-100" ></app-spending-summary> 
    <div class="container w-100">
    <app-budget-detail 
    *ngFor="let budgetDetail of budgetDetails; index as i" 
    [colorTheme]="budgetDetail.colorTheme"
    [freeAmount]="budgetDetail.freeAmount"
    [spentAmount]="budgetDetail.spentAmount"
    [title]="budgetDetail.category"
    [transactions]="budgetDetail.transactions"
    [index]="i.toString()"
    class="w-100 h-100"
    ></app-budget-detail>
    </div>
 </div>
    
        
    </div>

    <router-outlet></router-outlet>