
    <div class="container mt-250 mx-auto">
    <div class="img-title w-fit-content">
        <div class="profile-pic">

        </div>
        <div class="ml-200">
            <p class="text-preset-4-bold">{{ person }}</p>
            <p class="text-preset-5" style="color: #696868;">{{category}}</p>
        </div>
      
    </div>
    <div class="value text-preset-4-bold text-align-right w-fit-content {{isCredit ? 'green' : 'black'}}">
        <p>{{isCredit ? '+' : '-'}}${{amount | money}}</p>
        <p class="mt-100 text-preset-5 grey">19 Aug 2024</p>
    </div>
</div>
