



<div class="transaction" [ngClass]="{'transaction_fullscreen': isFullScreen}" >
    <div class="transaction__entity">
        <div *ngIf="hasPhoto" class="transaction__photo">

        </div>
        <div class="ml-200">
            <p class="transaction__person text-preset-4-bold">{{ person }}</p>
            <p *ngIf="!isFullScreen" class="transaction__category grey text-preset-5">{{category}}</p>
        </div>
    
    </div>
    <div *ngIf="isFullScreen" class="transaction__category my-auto  text-align-start ">
        <p class="mt-100 text-preset-5">{{category}}</p>
    </div>
    <div class="transaction__amount transaction__date text-preset-4-bold text-align-end  {{isCredit ? 'green' : 'black'}}">
        <p *ngIf="isFullScreen" class="mt-100 text-preset-5 grey"> {{date}} </p>
        <p *ngIf="!isFullScreen">{{isCredit ? '+' : '-'}}${{amount | money}}</p>
        <p *ngIf="!isFullScreen" class="mt-100 text-preset-5 grey">{{date}}</p>
    </div>
    <div *ngIf="isFullScreen" class="transaction__amount my-auto w-100 text-align-end ">
        <p class="mt-100 text-preset-4-bold w-100 {{isCredit ? 'green' : 'black'}}">{{isCredit ? '+' : '-'}}${{amount | money}}</p>
    </div>
</div>
