.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 8px;
    border: none;
    padding: 0;
    
}

.btn:hover {
    border-radius: 8px;
    border: 1px solid var(--beige-100);

    color: var(--grey-900);
}

.btn-color {
    color: var(--grey-500);
    background-color: var(--white);
}

.transparent {
    background-color: transparent;
}