<div class="container h-100" [ngClass]="{'brightness px-200 py-300 mx-0 my-0': modalOn(), 'mx-200 my-300 px-0 py-0': !modalOn()}">
    <div class="flex w-100 ">
        <p class="text-preset-1">Pots</p>
        <app-button (click)="navigateTo()">+ Add New Pot</app-button>
    </div>
 <div class="w-100" [ngClass]="{'inner-container': isDesktop(), 'container': !isDesktop()}">
 
    <app-pot 
    *ngFor="let pot of pots; index as i" 
    [pot]="pot"
    [index]="i.toString()"
    [ngClass]="{'flex-grow-desktop': isDesktop(), 'flex-grow-tablet': !isDesktop()}"
    ></app-pot>
    
 </div>
    
</div>
<router-outlet>
</router-outlet>
