<div class="container py-300 px-250 br bg-white">
    <app-doughnut-chart [color1]="'#626070'" [lengths]="arr" [color2]="'#277C78'" [color3]="'#82C9D7'" [color4]="'#F2CDAC'" [amountSpent]="'407'" [budget]="'975'" [arr]="arrStr"></app-doughnut-chart> 
    <div class="inner-container">
        <h1 class="text-preset-2">Spending Summary</h1>
        <app-mini-card class="w-100 pt-300 pb-200" [color]="'#82C9D7'" [amount]="'250.00'" [title]="'Bills'" [budget]="'750.00'"></app-mini-card>
        <app-mini-card class="w-100 py-200" [color]="'#F2CDAC'" [amount]="'67.00'" [title]="'Dining Out'" [budget]="'75.00'"></app-mini-card>
        <app-mini-card class="w-100 py-200" [color]="'#626070'" [amount]="'65.00'" [title]="'Personal Care'" [budget]="'100.00'"></app-mini-card>
        <app-mini-card class="w-100 pt-200" [color]="'#277C78'" [amount]="'25.00'" [title]="'Entertainment'" [budget]="'50.00'"></app-mini-card>
    </div>
</div>