.br-8 {
    border-radius: 8px;
}

.container {
    background-color: var(--beige-100);
    display: flex;
    justify-content: space-between;
}

.title {
    color: var(--grey-500);
}

.amount {
    color: var(--grey-900);
}