<div class="container br bg-white px-250 py-300" [ngClass]="{'h-100 p-400': isDesktop()}">


<app-header class="w-100" [title]="'Budgets'">See Details</app-header>
<div class="container " [ngClass]="{'container-tablet position-relative mt-250': (isTablet() || isDesktop()), 'h-100': isDesktop()}">
    <app-doughnut-chart [ngClass]="{'center w-100': isTablet() || isDesktop()}" class="text-align-center w-100 " [color1]="'#277C78'" [color2]="'#626070'"[color3]="'#82C9D7'" [color4]="'#F2CDAC'" [amountSpent]="'331'" [budget]="'975'" [arr]="arr" [lengths]="lengths"></app-doughnut-chart>
    <div [ngClass]="{'cards w-100': isMobile(), 'cards-tablet w-100': isTablet() || isDesktop()}">
        <div [ngClass]="{'top-left mt-250': isMobile(), 'mt-200 w-100': isDesktop() || isTablet()}">
            <app-mini-card [color]="'#277C78'" [title]="'Entertainment'" [amount]="'50.00'"></app-mini-card>
        </div>
        <div  [ngClass]="{'top-right mt-250': isMobile(), 'mt-200 w-100': isDesktop() || isTablet()}">
            <app-mini-card [color]="'#82C9D7'" [title]="'Bills'" [amount]="'750.00'"></app-mini-card>
        </div>
        <div  [ngClass]="{'bottom-left mt-250': isMobile(), 'mt-200 w-100': isDesktop() || isTablet()}">
            <app-mini-card [color]="'#F2CDAC'" [title]="'Dining out'" [amount]="'75.00'"></app-mini-card>
        </div>
        <div  [ngClass]="{'bottom-right mt-250': isMobile(), 'mt-200 w-100': isDesktop() || isTablet()}">
            <app-mini-card [color]="'#626070'" [title]="'Personal Care'" [amount]="'100.00'"></app-mini-card>
        </div>
    </div>
</div>
</div>

