.container-nav-btn-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    width: 104px;
}

.container-nav-btn-desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-nav-btn-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.w-fit-content {
    width: fit-content;
}
