<div class="container py-300 px-250 br bg-white h-100 w-100">
    <div class="header w-100">
        <div class="inner-header">
            <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none" >
                <circle cx="8" cy="8.5" r="8" [attr.fill]="colorTheme.title"/>
                </svg>  
            <p class="ml-200 text-preset-2">{{title}}</p>
        </div>
        
       <app-icon-dropdown [items]="items"></app-icon-dropdown>
    </div>
    <div class="description w-100">
        <p class="text-preset-4">Maximum of ${{maximum | money}}</p>
        <div class="w-100 progress-container p-50 h-100 position-relative">
            <div class="position-absolute progress" [ngStyle]="{'width': amountPercentage + '%', 'background': colorTheme.title}">
                <!-- Calculate width -->
            </div>
        </div>
        <div class="space-between w-100">
            <app-mini-card [color]="colorTheme.title" [title]="'Spent'" [amount]="spentAmount | money"></app-mini-card>
            <app-mini-card  [color]="'#F8F4F0'" [title]="'Free'" [amount]="freeAmount | money"></app-mini-card>
        </div>
    </div>
    <div class="spending br p-200 w-100 text-align-center">
        <div class="inner-header mx-auto w-100">
            <app-header class="w-100" [title]="'Latest Spending'" [isTransparent]="true"><div style="display: flex; justify-content: space-between; align-items: center;">
                <p class="mr-50">See All</p> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M4.76531 1.98468L8.51531 5.73468C8.55018 5.76951 8.57784 5.81087 8.59671 5.85639C8.61558 5.90192 8.62529 5.95071 8.62529 5.99999C8.62529 6.04927 8.61558 6.09807 8.59671 6.1436C8.57784 6.18912 8.55018 6.23048 8.51531 6.26531L4.76531 10.0153C4.71287 10.0678 4.64602 10.1036 4.57324 10.1181C4.50046 10.1326 4.42501 10.1251 4.35645 10.0967C4.28789 10.0683 4.22931 10.0202 4.1881 9.95849C4.1469 9.89677 4.12494 9.82421 4.125 9.74999L4.125 2.24999C4.12494 2.17578 4.1469 2.10322 4.1881 2.0415C4.22931 1.97978 4.28789 1.93167 4.35645 1.90326C4.42501 1.87485 4.50046 1.86743 4.57324 1.88192C4.64602 1.89641 4.71287 1.93218 4.76531 1.98468Z" fill="#696868"/>
                  </svg>
            </div></app-header>
        </div>
        <div class="no-text-wrap w-100">
            <div class="my-200" *ngFor="let transaction of transactions">
            <app-transaction [amount]="transaction.amount" [hasPhoto]="isMobile() ? false : true" [date]="transaction.date" [person]="transaction.person" [isCredit]="false" ></app-transaction>
            <hr>
            </div>
           
        </div>
    </div>
</div>