<div class="container  mx-200 my-300 " >
    <div class="flex w-100 ">
        <p class="text-preset-1">Pots</p>
        <app-primary>+ Add New Pot</app-primary>
    </div>
 <div class="w-100" [ngClass]="{'inner-container': isDesktop(), 'container': !isDesktop()}">
 
    <app-pot 
    *ngFor="let pot of pots; index as i" 
    [pot]="pot"
    [index]="i.toString()"
    [ngClass]="{'flex-grow-desktop': isDesktop(), 'flex-grow-tablet': !isDesktop()}"
    ></app-pot>
    
 </div>
    
        </div>

