.br {
    border-radius: 12px;
}

.bg-grey {
    background-color: var(--grey-900);
    color: var(--white);
    
}

.bg-white {
    background-color: var(--white);
    
}

.color-grey-500 {
    color: var(--grey-500);
}

.color-grey-900 {
    color: var(--grey-900);
}

.fit-content {
    width: fit-content;
}


