
  <div class="position-relative" >
    <div class="position-relative app-container" [ngClass]="{'layout-desktop': isDesktop(), 'brightness': !modalOn}">
      <!-- <app-home></app-home> -->
    <app-budgets-page class="w-100"></app-budgets-page>
    <!-- <app-pots-page class="w-100"></app-pots-page> -->
    <!-- <app-recurring-bill class="w-100"></app-recurring-bill> -->
     <!-- <app-button [state]="{primary: false, secondary: false, tertiary: false, destroy: true }">Recurring Bills</app-button> -->
     <!-- <app-transactions-page  class="w-100"></app-transactions-page>  -->
    <app-navigation></app-navigation>
    
  </div>
  <!-- <app-pot [pot]="{
    category: 'Savings',
    theme: '#277C78',
    amount: '159.00',
    target: '2000.00'
}" class="center"></app-pot> -->
  <!-- <app-modal *ngIf="!modalOn" (modalOn)="setModalOff($event)" [budgetKeyReference]="'2'"></app-modal> -->
    <!-- <app-home *ngIf="false"  class="w-100" ></app-home>
     -->
  <!-- <app-spending-summary class="center"></app-spending-summary> -->
    <!-- <app-budget-detail class="center"></app-budget-detail> -->

</div>
