
  <div class="position-relative" >
    <div class="position-relative app-container" [ngClass]="{'layout-desktop': isDesktop(), 'brightness': !modalOn}">
    <app-budgets-page class="w-100"></app-budgets-page>
    <app-navigation></app-navigation>
  </div>
  <app-modal *ngIf="!modalOn" (modalOn)="setModalOff($event)"></app-modal>
    <!-- <app-home *ngIf="false"  class="w-100" ></app-home>
    <app-transactions-page  class="w-100"></app-transactions-page>  -->
  <!-- <app-spending-summary class="center"></app-spending-summary> -->
    <!-- <app-budget-detail class="center"></app-budget-detail> -->

</div>
