:host {
    width: 100%;
}

.color-grey-900 {
    color: var(--grey-900);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(100%, 2fr);
    gap: 24px;
}

.grid-child-1 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        
}

.grid-child-2 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid-child-3 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-child-4 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
}
