.bills-page {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.bills-page .bills-page__title {
    margin-bottom: 20px;
    color: var(--grey-900);
}
.bills-page .bills-page__card {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 24px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--grey-900);
    color: var(--white);
}

.bills-page .bills-page__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bills-page .bills-page__summary {
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--white);
    color: var(--grey-900);
}


.bills-page .bills-page__summary-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bills-page .bills-page__summary-item .text-preset-5 {
    color: var(--grey-500);
}

.bills-page .bills-page__summary-item_due  .text-preset-5 {
    color: var(--secondary-red);
}

.bills-page .bills-page__details {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white);
}

.bills-page .bills-page__search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bills-page .bills-page__linebreak {
    margin-top: 16px;
    margin-bottom: 16px;
}