.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.transactions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}