.container {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    gap: 16px;
    background-color: var(--white);
    border: 1px solid var(--beige-500, #98908B);
    color: var(--grey-900);
    transition: 500ms;
}



.container:hover {
    background-color: var(--beige-500);
    color: var(--white);
}

.container:hover path {
    fill: var(--white);
}