<div class="container py-300 px-250 br bg-white h-100 w-100">
    <div class="header w-100">
        <div class="inner-header">
            <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none" >
                <circle cx="8" cy="8.5" r="8" [attr.fill]="pot.theme.title"/>
                </svg>  
            <p class="ml-200 text-preset-2">{{pot.category.title}}</p>
        </div>
        
       <app-icon-dropdown [items]="items"></app-icon-dropdown>
    </div>
    <div class="description w-100">
        <div class="header">
            <p class="text-preset-4">Total Saved</p>
            <p class="text-preset-1">${{pot.amount| money}}</p>
        </div>
       <app-progress-bar  [theme1]="pot.theme.title" [amountPercentage]="((+pot.amount)/(+pot.target) * 100).toFixed(2)"></app-progress-bar>
        <div class="space-between">
            <p class="text-preset-5-bold">{{((+pot.amount/+pot.target) * 100).toFixed(2).toString()}}%</p>
            <p class="text-preset-5">Target of ${{pot.target | money}}</p>
        </div>
    </div>
    <div class="btns br p-200 w-100 text-align-center">
            <app-button (click)="navigateTo()" [state]="{primary: false, secondary: true, tertiary: false, destroy: false }" class="w-100 btn no-text-wrap">+ Add Money</app-button>
            <app-button (click)="navigateTo(false)" [state]="{primary: false, secondary: true, tertiary: false, destroy: false }" class="w-100 btn no-text-wrap">Withdraw</app-button>
    </div>
</div>