
.flex-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: stretch;
    gap: 12px;
    max-width: 1440px;
}

.flex-tablet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    gap: 24px;
}

.flex-desktop {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    gap: 12px;
    width: 100%;
}


.flex-mobile > * {
    width: 100%;
}

.flex-desktop > * {
    width: 100%;
}