<div class="flex my-400 mx-500" [ngClass]="{'mx-200 my-300': isMobile(), 'tablet': isTablet(), 'desktop': isDesktop()}">
    <h1  class="text-preset-1">Overview</h1>
    <app-balance-overview ></app-balance-overview>
    <div  [ngClass]="{'flex': isMobile() || isTablet(), 'grid': isDesktop()}">
    <app-pots class="grid-child-1"></app-pots>
    <app-transactions class="grid-child-2"></app-transactions>
    <app-budgets class="grid-child-3"></app-budgets>
    <app-bills class="grid-child-4"></app-bills>
    </div>
</div>
