.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 8px;
    background-color: var(--grey-900);
}

.btn:hover {
    background-color: var(--grey-500);
}

.btn-color {
    color: var(--white);
}

.align-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}