
  

  .chart-number-3 {
    transform: scale(0.2) translateY(2.6em) translateX(1.4em);
    color: var(--grey-900);
    
  }

  .chart-number-4 {
    transform: scale(0.17) translateY(3.4em) translateX(1.5em);
    color: var(--grey-900);
  }
  .chart-number-5 {
    transform: scale(0.14) translateY(4em) translateX(2.1em);
    color: var(--grey-900);
  }
  .chart-number-6 {
    transform: scale(0.13) translateY(4em) translateX(1.75em);
    color: var(--grey-900);
  }
  .chart-number-7 {
    transform: scale(0.12) translateY(4.5em) translateX(2.1em);
    color: var(--grey-900);
  }
  
  .chart-label {
    transform: scale(0.19) translateY(10em) translateX(4.5em);
    color: var(--grey-500)
  }