
.auth_form_container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100%;

}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
    width: 75%;
    height: max(50%, 400px);

}
.container_control {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


