.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress {
    left: 4px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 4px;
    height: 75%;
}

.progress-container {
    height: 8px;
    background: #F8F4F0;
    border-radius: 4px;
    position: relative;
}
.coords {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;     
    max-width: 560px;   
}

.max-width-mobile {
    max-width: 335px;
}

.max-width {
    max-width: 560px;
}

.header h1 {
    color: var(--grey-900);
}

.header svg {
    cursor: pointer;
}


.btn {
    cursor: pointer;
}


.disabled {
    opacity: 0.5;
    background: #FFF;
}

.header {
    display: flex;
    justify-content: space-between;
}

label {
    color: var(--grey-500);
}

.description p {
    color: var(--grey-500);
}

.control {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.z-6 {
    z-index: 6;
}

.z-3 {
    z-index: 3;
}

.form {
    display: flex;
    flex-direction: column;
     gap: 16px;
}

button {
    border: none;
    width: 100%;
}