<div class="container py-300 px-250 br bg-white h-100 w-100">
    <div class="header w-100">
        <div class="inner-header">
            <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none" >
                <circle cx="8" cy="8.5" r="8" [attr.fill]="pot.theme"/>
                </svg>  
            <p class="ml-200 text-preset-2">{{pot.category}}</p>
        </div>
        
       <app-icon-dropdown [items]="['Edit Budget', 'Delete Budget']"></app-icon-dropdown>
    </div>
    <div class="description w-100">
        <div class="header">
            <p class="text-preset-4">Total Saved</p>
            <p class="text-preset-1">${{pot.amount| money}}</p>
        </div>
       
        <div class="w-100 progress-container p-50 h-100 position-relative">
            <div class="position-absolute progress" [ngStyle]="{'width': amountPercentage + '%', 'background': pot.theme}">
                <!-- Calculate width -->
            </div>
        </div>
        <div class="space-between">
            <p class="text-preset-5-bold">{{amountPercentage}}%</p>
            <p class="text-preset-5">Target of ${{pot.target | money}}</p>
        </div>
    </div>
    <div class="btns br p-200 w-100 text-align-center">
            <app-button [state]="{primary: false, secondary: true, tertiary: false, destroy: false }" class="w-100 btn no-text-wrap">+ Add Money</app-button>
            <app-button [state]="{primary: false, secondary: true, tertiary: false, destroy: false }" class="w-100 btn no-text-wrap">Withdraw</app-button>
    </div>
</div>